

.all-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  margin-bottom: 1.5vh;
}

.health-snapshot {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 1vh;
}

.health-description-disclaimer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  color: rgb(80, 77, 77);

}

.description {


}

.disclaimer {

}


section-2 {
  box-shadow: 0px 0px 2px 1px rgba(90, 89, 89, 0.25);
  display: flex;
  flex-direction: row;
  width: 35vw;
  padding: 4vh 4vw;
  align-items: center;
  gap: 3vw;
  border-radius: 20px;

}

.image-container {
  height: clamp(20px, 70px, 70px);
  width: clamp(20px, 70px, 70px);
  background-color: #07ba18;
  border-radius: 12px;
  display: flex;
  align-items: center;


}

.health-status-pic {
  height: auto;
  width: 100%;

}

.final-risk-result {
  display: flex;
  flex-direction: row;
  row-gap: 1.5vh;
  column-gap: 5vw;
  align-items: center;

}

.final-level-container {
  display: flex;
  flex-direction: column;
  margin-right: 3vw;
}

.final-risk-label {
  font-size: 1.3rem;

}

.final-risk-level {
  font-weight: bold;
  font-size: 2rem;
}

.final-risk-score {
  font-size: 5rem;
}

section-3 {
  display: flex;
  flex-direction: row;
  column-gap: 1.1vw;
}

.input-box {
  box-shadow: 0px 0px 2px 1px rgba(90, 89, 89, 0.25);
  padding: 2.5vh 1.8vw;
  width: 25.9vw;
  height: 36.5vh;
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  row-gap: 2.2vh;
  border-radius: 20px;


}


.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;

}

.input-pic-container {
  height: 40px;
  width: 40px;
  background-color: rgb(233, 240, 255);
  border-radius: 10px;

}

.input-icon {
  height: auto;
  width: 100%;

}

.your-inputs-title {
  font-size: 1.1rem;
  font-weight: bold;

}

.all-inputs {
  display: flex;
  flex-direction: column;
  row-gap: 1.5vh;
}

.body-input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.body-input-title {
  font-size: 0.9rem;

}

.body-input-value {
  font-weight: bold;

}

.recommend-box {
  box-shadow: 0px 0px 2px 1px rgba(90, 89, 89, 0.25);
  padding: 2.7vh 1.8vw;
  width: 25.9vw;
  height: 36.5vh;
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  row-gap: 2.2vh;
  border-radius: 20px;
}

.recommend-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 11px;
}

.recommend-pic-container {
  height: 40px;
  width: 40px;
  background-color: rgb(233, 240, 255);
  border-radius: 10px;

}

.recommend-icon {
  height: auto;
  width: 100%;

}

.recommend-title {
  font-size: 1.1rem;
  font-weight: bold;

}

.all-recommendations {
  display: flex;
  flex-direction: column;
  row-gap: 2.4vh;

}


.recommendation-one-container {
  display: flex;
  flex-direction: row;
  column-gap: 0.8vw;
  align-items: center;
  padding: 1vh 0.7vw;
  background-color: rgb(233, 240, 255);
  border-radius: 20px;

}

.check-icon-container {
  height: 20px;
  width: 20px;

}

.check-icon {
  height: auto;
  width: 100%;

}

.recommendation-one-text {
  font-weight: bold;
  font-size: 0.8rem;

}

section-4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 12vw;
  margin-top: -5vh;
}

.detailed-analysis-button {
    height: 6.5vh;
    width: 18vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 3.5vh;
    border-radius: 50px;
    background-color: rgb(6, 165, 109);
    gap: 10px;
}

.analysis-text {
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
}

.detailed-analysis-button:hover {
    background-color: rgb(249, 253, 252);
    cursor: pointer;
    border: 1px solid rgb(215, 213, 213);
}

.detailed-analysis-button:hover .analysis-text {
    color: black;
    font-weight: bold;
}

.start-new-button {
  height: 6.5vh;
  width: 18vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(215, 213, 213);
  margin-top: 3.5vh;
  border-radius: 50px;
  background-color: rgb(246, 249, 248);
  gap: 10px;
}

.start-new-button:hover {
  background-color: rgb(6, 165, 109);
  color: white;
  cursor: pointer;
}

.start-new-text {
  font-size: 1.2rem;
  font-weight: bold;
}


body {
    opacity: 0;
    animation: analysisPageFadeIn 0.7s ease forwards;
}


@keyframes analysisPageFadeIn {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}