.health-assistant-image {
  padding-top: 2vh;
  padding-right: 0;
  height: auto;
  width: 100%;
}

section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.mid-left-section {
  padding-left: 10vw;
  margin-top: -10vh;
}

.mid-right-section {
  margin-top: 4vh;
  width: 50vw;
  padding-right: 4vw;
}

.term {
  font-size: 4rem;
  width: 30vw;
  font-weight: 600;
  font-family: "Google Sans", sans-serif;
  line-height: 4.7rem;
}

.smarter-text {
  color: rgb(3, 159, 104);
  font-family: "Google Sans", sans-serif;
  font-size: 4.5rem;
}

.health-iq-desc {
  font-size: 1.2rem;
  width: 25vw;
  margin-top: 3vh;
  line-height: 2rem;

}

.started-button {
  border: none;
  color: white;
  background-color: rgb(3, 159, 104);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  height: 6.5vh;
  width: 20vw;
  margin-top: 6.5vh;
  font-family: "Google Sans", sans-serif;
  font-size: 1.2rem;
  padding-left: 1vw;
}

.started-button:hover {
  background-color: rgba(80, 197, 156, 0.8);
  cursor: pointer;
}

.heart-icon {
  height: auto;
  width: 100%;
  margin-right: 0.5vw;
}

.heart-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2vw;
  margin-right: 0.4vh;
  margin-top: 0.2vh;
}

.arrow-icon {
  margin-left: 2.2vw;
}
